{% extends "skeleton/_body.html" %}
{% hyde
    title: "Product"
    created: 2010-12-29 14:30:00
    listing: True
%}

{% block content_body %}
<h3>Articles</h3>
<ul>
    <li> <a href="http://www.cmswire.com/cms/web-cms/selecting-a-cms-managing-product-demos-006873.php">Selecting a CMS: Managing Product Demos</a></li>	
    
    <li> <a href="http://www.cmswire.com/cms/web-cms/selecting-a-cms-developing-usage-scenarios-006697.php">Selecting a CMS: Developing Usage Scenarios</a></li>	
	<li> <a href="http://www.cmswire.com/cms/web-cms/selecting-a-cms-how-to-build-a-short-list-006519.php">Selecting a CMS: How to Build a Short List</a></li>	
	<li> <a href="http://www.scribd.com/doc/77085653">Drupal for Publishers</a></li>
	<li> <a href="http://www.scribd.com/doc/77087023">Open Source Web Content Management in Alfresco</a></li>
	<li> <a href="http://www.scribd.com/doc/77090148">Open Source Web Content Management in Java</a></li>
	<li> <a href="http://www.cmswire.com/cms/web-cms/what-is-web-20-cm-part-2-001223.php">What is Web 2.0 Content Management? (part 2)</a> (with <a href="http://www.cmswire.com/about/#bd">Brice Dunwoodie</a>)</li>
	<li> <a href="http://www.cmswire.com/cms/web-cms/what-is-web-20-content-management-part-1-001187.php">What is Web 2.0 Content Management? (part 1)</a> (with <a href="http://www.cmswire.com/about/#bd">Brice Dunwoodie</a>)</li>
	<li> <a href="http://www.cmswatch.com/CMS/Report/">The CMS Report</a> (contributing author to releases 8, 9, 10, 11, 12, and 14)</li>
	<li> <a href="http://www.optaros.com/en/publications/white_papers_reports/unleashing_the_power_of_open_source_in_document_management">Unleashing the Power of Open Source in Document Management</a>
(with <a href="http://blog.wohlrapp.com/">Sebastian Wohlrapp</a>)</li>
	<li> <a href="http://www.scribd.com/doc/77086449">Content Management Problems and Open Source Solutions</a></li>
	<li> <a href="http://www.scribd.com/doc/77086683">From Enterprise Content Management to Effective Content Management</a></li>
</ul>
<h3>Presentations</h3>
<div style="margin: 0px 0px 0px 10px; width: 540px;"><object width="538" height="341" data="http://static.slideshare.net.s3.amazonaws.com/swf/egowidget2.swf" type="application/x-shockwave-flash"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="src" value="http://static.slideshare.net.s3.amazonaws.com/swf/egowidget2.swf" /><param name="flashvars" value="feedurl=user/sggottlieb&amp;widgettitle=My Slideshows" /><param name="allowfullscreen" value="true" /></object> 
<div style="font-size: 11px; font-family: tahoma,arial; height: 26px; padding-top: 2px; text-align: left;"><a href="http://www.slideshare.net/?src=egowidget"><img style="border:0px none;margin-bottom:-5px" src="http://static.slideshare.net/swf/logo_embd.png" alt="SlideShare" /></a> | <a title="Get your Presentation Pack" href="http://www.slideshare.net/widgets/presentation-pack">Get your Presentation Pack</a></div>
</div>

<h3>Memberships, Certifications, and Training</h3>
<ul>
	<li> Elected to the 2005-2006 <a href="http://www.cmprofessionals.org">CM Professionals</a> Board of Directors</li>
	<li> <a href="http://ez.no/certification/verify/146570">eZ publish Certified Developer</a></li>
	<li> <a href="http://www.jboss.org">JBoss Administration Training</a></li>
</ul>
{% endblock %}
