{% extends "skeleton/_root.html" %}
{% block all %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <!--[if IE]><script src="../j/html5.js"></script><![endif]-->
    {% block meta_tags %}
    <meta name="description" content="{{ site.name }}: Personal Website.">
    <meta name="keywords" content="">
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{{ site.url }}/media/css/global.css" type="text/css" media="screen" charset="utf-8">
    {% block extra_css %}{% endblock %}
    {% endblock %}
    {% block js %}
    {% block extra_js %}{% endblock %}
    {% endblock %}
    <link rel="shortcut icon" href="/media/favicon.ico" />
    <link rel="author" href="https://plus.google.com/u/0/102992494947018640072" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28302554-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>

<body>
<div id="site">
<header>
{% include "skeleton/_header.html" %}
</header>

{% block content %}{% endblock %}
</div>

<footer>
{% include "skeleton/_footer.html" %}
<a href="https://plus.google.com/102992494947018640072" rel="publisher">Find me on Google+</a>
</footer>

</body>
</html>
{% endblock %}
