{% extends "skeleton/_body.html" %}
{% hyde
    title: "Home"
    created: 2010-12-29 14:30:00
    listing: False
    order: "foo"
%}

{% block content_body %}
<p>This is the personal website of Seth Gottlieb...  The same Seth Gottlieb who:</p>
<ul>
    <li>Blogs as <a href="http://www.contenthere.net">Content Here</a></li>
    <li>Tweets as <a href="http://twitter.com/sggottlieb">sggottlieb</a></li>
    <li>Googles as <a href="http://www.google.com/profiles/sggottlieb">sggottlieb</a></li>
    <li>Works at <a href="http://www.lionbridge.com">Lionbridge</a></li>
</ul>
<p>I am <a href="/social">all over the web</a> but you can always find me here.</p>

{% endblock %}
