{% extends "skeleton/_body.html" %}
{% hyde
    title: "Social Favorites"
    created: 2011-11-17 14:30:00
    listing: False
%}

{% block content_body %}
<p>I got very swept up in the Web 2.0 and gave most of the new services a try.  <a href="./rejects.html">Many of these services didn't have staying power for me</a> but a few of them worked their way into my daily routine.  Here they are:</p>
<ul class="services">
	<li class="service-icon service-dailymile">
	    <h3><a  href="http://www.dailymile.com/people/sggottlieb">DailyMile - Exercise</a></h3>
	    <p>I try to keep track of my training on DailyMile.  I like the site because data entry is very easy.  The downside is that the information and reporting is not all that useful.</p>
	    </li>
	<li class="service-icon service-flickr">
	    <h3><a  href="http://www.flickr.com/photos/sggottlieb/" title="Seth Gottlieb on Flickr">Flickr - Pictures</a></h3>
	    <p>I have been using Flickr for years.  One of the most uses for me is that I keep all of my software screenshots there.  This allows me to tag screenshots with what they are showing like "inline editing" and then be able to browse through examples showing this feature.</p>
	    </li>
	<li class="service-icon service-google">
	    <h3><a href="http://www.google.com/profiles/sggottlieb" title="Seth Gottlieb on Google">Google Plus</a></h3>
	    <p>Google Plus has become my alternative to Facebook.  I find that I like Google's values way more than Facebook's so that is where I am putting my social energy.</p>
	</li>
	<li class="service-icon service-librarything">
	    <h3><a href="http://www.librarything.com/home/sggottlieb" title="Seth Gottlieb on LibraryThing">Library Thing - Reading</a></h3>
	    <p>I love the idea of this site and wished I used it more.  In fact, wish I read more too. </p>
	    </li>
    <li class="service-icon service-pinboard">
	    <h3><a href="http://pinboard.in/u:sggottlieb" title="Seth Gottlieb on Pinboard">Pinboard</a></h3>
	    <p>When Yahoo! let it slip that they were loosing interest in Delicious, I joined the thousands of users who fled to Pinboard.  There are two things I like about Pinboard: they seem to prioritize business sustainability and they there is an excellent integration with Twitter.  Anything I tweet gets cataloged in Pinboard.  Hashtags become tags.  It's pretty slick.</p>
	    </li>
	<li class="service-icon service-scribd">
    	<h3><a href="http://www.scribd.com/sggottlieb" title="Seth Gottlieb on SlideShare">Scribd</a></h3>
    	     <p>Scribd is where I post documents nowadays.  However, there is a lot of overlap with Slideshare, which is also pretty good for documents.  
    	    </p>
    	</li>
	<li class="service-icon service-slideshare">
	    <h3><a href="http://www.slideshare.net/sggottlieb" title="Seth Gottlieb on SlideShare">SlideShare</a></h3>
	     <p>SlideShare is a huge disruptor.  The conferences I speak at have given up on posting presentations since the speakers all post to SlideShare.</p>
	</li>
	
	<li class="service-icon service-twitter">
	    <h3><a href="http://twitter.com/sggottlieb" title="Seth Gottlieb on Twitter">Twitter</a></h3>
	    <p>It took over a year of using Twitter before I really got it.  Now Twitter is at the core of my social experience.  Twitter is also the glue that ties other things together. Twitter connects people to my blog.  I use Twitter to save links to Pinboard.  </p>
	</li>
	<li class="service-icon service-tripit">
	    <h3><a href="http://www.tripit.com/people/sggottlieb" title="Seth Gottlieb on Tripit">Tripit</a></h3>
	    <p>I am a very happy Tripit user.  It is so easy to use.  I just forward my travel confirmations to Tripit and it builds me an itinerary.  When I travel with colleagues, I share trips with them so they know when I will be arriving and where I will be staying.  When I am on the road, I am constantly consulting Tripit for travel information: airline checking links, directions to my hotel, etc.</p>
	</li>
	
</ul>

{% endblock %}
