{% extends "skeleton/_body.html" %}
{% hyde
    title: "Social Rejects"
    created: 2011-11-17 14:30:00
    listing: False
%}

{% block content_body %}
<p>I have tried many social services over the years.  I continue <a href="./index.html">the ones that I get value from</a>.  Here are the ones that didn't make the cut.
</p>
<ul class="services">
	<li class="service-icon service-brightkite">
	    <h3>BrightKite</h3>
	    <p>I should have known better than to think I would be interested in a check-in service.  I am not the type of person who desperately wants to meet people who I have nothing more in common with than current location.  I also get overwhelmed with the pressure of meeting up with people when I travel.  
	    </p>
	</li>
	<li class="service-icon service-chmp">
	   <h3>CH.MP</h3>
	   <p>This is one of those identity parking services that seems perfect for someone who cannot host a simple website about themselves.  I, obviously, can.
	   </p>
	</li>
	<li class="service-icon service-dandyid">
	    <h3>Dandy.ID</h3>
	    <p>Identity parking site.  No real value there other than keeping other Seth Gottliebs off of it.</p>
    </li>
	<li class="service-icon service-delicious">
	    <h3>Delicious</h3>
    	<p>Ah, Delicious. I loved that service so much until Yahoo leaked its disinterest in it.  My links are too valuable to me to be subject to the whims of a flailing company.  I am on Pinboard now.  I hope they stay small and sustainable
    	</p>
	</li>
	<li class="service-icon service-facebook">
	   <h3>Facebook</h3>
	   <p>I went through ups and downs with Facebook.  I have lots of friends and family there.  Trouble is, Facebook the company creeps me out so I don't spend much time on the site any longer.
	   </p>
	   
	</li>
	<li class="service-icon service-friendfeed">
	   <h3>FriendFeed</h3>
	   <p>I loved the idea and the service.  I got really into the community.  But the Facebook acquisition seemed to suck all the life out of it.</p>  
	</li>
	<li class="service-icon service-identica">
	   <h3>Identi.ca</h3>
	   <p>I know Twitter and, Identi.ca, you are no Twitter.  The good thing about Twitter is not that you can post 140 characters; it's that Twitter is the place where everyone else posts <em>their</em> 140 characters.  Identi.ca's only hope is a total Twitter meltdown.  But if that happened, Google+ would probably pick up the slack.
	   </p>
	 </li>
	 <li class="service-icon service-meetup" >
 	    <h3><a href="http://www.meetup.com/members/2436295/" title="Seth Gottlieb on Meetup">Meetup.com</a></h3>
 	    <p>Meetup is an awesome site and if you read <a href="http://www.amazon.com/gp/product/0143114948/ref=as_li_ss_tl?ie=UTF8&tag=contenthere-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0143114948">Here Comes Everybody: The Power of Organizing Without Organizations</a><img src="http://www.assoc-amazon.com/e/ir?t=contenthere-20&l=as2&o=1&a=0143114948" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />, you only appreciate it more.  That said, I don't have time to get to Meetups.</p>

 	</li>
 	<li class="service-icon service-tumblr">
 	    <h3><a  href="http://sggottlieb.tumblr.com/" title="Seth Gottlieb on Tumblr">Tumblr</a></h3>
 	    <p>If you are looking at traffic and adoption, Tumblr is hugely successful.  It is amazing how media companies are using the platform.  I like the application and made a few posts with the intention of making it my personal blog.  But the truth is, I just don't have much left over to say after my <a href="http://www.contenthere.net">blog</a>, Twitter, and Google Plus</p>
 	
 	</li>
	
</ul>

{% endblock %}

