{% extends "skeleton/_body.html" %}
{% hyde
    title: "Activity"
    created: 2010-12-29 14:30:00
    listing: True
%}

{% block content_body %}
<h3>Conferences</h3>
Over the past couple of years, I have presented at the following conferences:
<ul>
    <li><a href="http://gilbaneboston.com">Gilbane Boston 2011</a></li>
    <li><a href="http://jboye.com/conferences/philadelphia11/">J. Boye 2011</a></li>
	<li><a href="http://gilbaneboston.com">Gilbane Boston 2009</a></li>
	<li><a href="http://gilbanesf.com">Gilbane San Francisco 2009</a></li>
	<li><a href="http://gilbaneboston.com/08/">Gilbane Boston 2008</a></li>
	<li><a href="http://jboye08.dk/speakers/seth_gottlieb">JBoye08</a></li>
	<li><a href="http://www.webcontent2008.com/chicago/">Web Content 2008</a></li>
	<li><a href="http://outerthought.org/en/events/oscmsfschat.html">Fireside Conversations:
Seth Gottlieb On Open Source Content Management</a></li>
	<li><a href="http://www.opencms-days.org/en/index.html">OpenCms Days 2008</a></li>
	<li><a href="http://www.cmf2007.dk/">cmf2007</a></li>
	<li><a href="http://www.doctrain.com/east/">DocTrain East 2007</a></li>
	<li><a href="http://www.enterprise2conf.com/">Enterprise 2.0</a></li>
	<li><a href="http://www.webcontent2007.com/">Web Content 2007</a></li>
	<li><a href="http://gilbanesf.com/07/">Spring Gilbane 2007</a></li>
	<li> <a href="http://www.integratedmedia.org/nav.cfm?cat=15&amp;subcat=116&amp;subsub=126">Public Media 2007</a></li>
	<li><a href="http://gilbaneboston.com/06/">Fall Gilbane 2006</a></li>
	<li><a href="http://lighthouseseminars.com/washingtondc/">Summer Gilbane 2006</a></li>
	<li><a href="http://lighthouseseminars.com/gilbane_sf_06/sf_06.html">Spring Gilbane 2006</a></li>
	<li><a href="http://www.linuxworldexpo.com/live/12/events/12BOS06A/conference/tracksessions/Open%20Source%20Applications/QMONYA04R361">LinuxWorld.  Boston, 2006</a></li>
	<li><a href="http://plone.org/events/regional/nola06">North American Plone Symposium 2006</a></li>
</ul>


{% endblock %}
